table {
    width: -webkit-fill-available;
    width: -moz-available;
}
.Scroll {
    overflow-x: auto;
}
.mat-column-Action {
    flex: 0px 0px 8% !important;
    width: 2%;
    padding-right: 12px;
}

.mat-column-CrDrNoteNo {
    flex: 0px 0px 8% !important;
    width: 4%;
    padding-right: 12px;
}

.mat-column-CRDRCreationDate {
    flex: 0px 0px 8% !important;
    width: 3%;
    padding-right: 12px;
}

.mat-column-CrDrAmt {
    flex: 0px 0px 8% !important;
    width: 3%;
    padding-right: 12px;
}

.mat-column-StockistNo {
    flex: 0px 0px 6% !important;
    width: 3%;
    padding-right: 12px;
}

.mat-column-StockistName {
    flex: 0px 0px 8% !important;
    width: 3%;
    padding-right: 12px;
}

.mat-column-CityName {
    flex: 0px 0px 8% !important;
    width: 3%;
    padding-right: 12px;
}

.mat-column-SalesOrderNo {
    flex: 0px 0px 8% !important;
    width: 4%;
    padding-right: 12px;
}

.mat-column-SalesOrderDate {
    flex: 0px 0px 8% !important;
    width: 4%;
    padding-right: 12px;
}