table {
    width: -webkit-fill-available;
    width: -moz-available;
}
.Scroll {
    overflow-x: auto;
}

.commonFontSize {
    font-size: 14px;
}

.mat-column-SrNo {
    flex: 0px 0px 2% !important;
    width: 7%;
}

.mat-column-EmpNo {
    flex: 0px 0px 10% !important;
    width: 10%;
    padding-right: 12px;
}

.mat-column-EmpName {
    flex: 0px 0px 15% !important;
    width: 15%;
    padding-right: 12px;
}

.mat-column-EmpMobNo {
    flex: 0px 0px 12% !important;
    width: 10%;
    padding-right: 10px;
}

.mat-column-BranchName {
    flex: 0px 0px 11% !important;
    width: 12%;
    padding-right: 12px;
}

.mat-column-BloodGroupName {
    flex: 0px 0px 8% !important;
    width: 11%;
}

.mat-column-AadharNo {
    flex: 0px 0px 10% !important;
    width: 12%;
    padding-right: 12px;
}

.mat-column-IsActive {
    flex: 0px 0px 8% !important;
    width: 8%;
}

.mat-column-IsUser {
    flex: 0px 0px 5% !important;
    width: 8%;
}

.mat-column-UserStatus {
    flex: 0px 0px 7% !important;
    width: 5%;
}

.mat-column-Actions {
    flex: 0px 0px 10% !important;
    width: 4%;
    padding-right: 12px;
}

.selectionList {
    max-height: 200px;
    overflow-y: auto;
}

.align-items-center {
    padding-top: 5px;
}

i {
    margin-right: 15%;
}

.spin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.fa-toggle-on {
    font-size: 20px;
    color: green;
}

.fa-toggle-off {
    font-size: 20px;
    color: red;
}
