<div class="card">
    <div class="card-header">
        <h2>{{ Title }}</h2>
    </div>
    <div class="card-body">
        <form class="vForm" [formGroup]="curierForm" (ngSubmit)="saveCurier()" autocomplete="off">
            <div class="row">
                <div class="col">
                    <!-- <mat-form-field>
                        <mat-label> Branch <span class="text-danger"> * </span> </mat-label>
                        <mat-select name="Branch" formControlName="Branch">
                            <mat-option *ngFor="let br of BranchList" [value]="br.BranchId">
                                {{ br.BranchName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->

                    <!-- autocomplete code for Branch Start-->
                    <mat-form-field class="example-full-width">
                        <mat-label> Branch <span class="text-danger"> * </span> </mat-label>
                        <input type="text" placeholder="Branch" matInput name="Branch" (focusout)="branchValidation()"
                            formControlName="Branch" [matAutocomplete]="autoBranchName">
                        <mat-autocomplete #autoBranchName="matAutocomplete" [displayWith]="displayFnBranchName">
                            <mat-option *ngFor="let option of BranchNameArray | async" [value]="option">
                                {{ option.BranchName }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <!-- autocomplete Branch End-->

                    <mat-error *ngIf="submitted && f.Branch.errors" class="invalid-feedback">
                        <mat-error *ngIf="f.Branch.errors.required"> Branch is required </mat-error>
                    </mat-error>
                    <!-- <mat-error *ngIf="submitted === false && f.Branch.touched && f.Branch.invalid"
                        class="invalid-feedback">
                        Please select branch
                    </mat-error> -->
                    <mat-error *ngIf="InvalidBranch" class="invalid-feedback">
                        Please select valid Branch
                    </mat-error>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <mat-label> Courier Name <span class="text-danger"> * </span> </mat-label>
                        <input matInput placeholder="Courier Name" name="CourierName" formControlName="CourierName"
                            (focusout)="onCourierNamechange()">
                    </mat-form-field>
                    <mat-error *ngIf="submitted && f.CourierName.errors" class="invalid-feedback">
                        <span *ngIf="f.CourierName.errors.required"> Courier name is required </span>
                    </mat-error>
                    <mat-error *ngIf="submitted === false && f.CourierName.touched && f.CourierName.invalid"
                        class="invalid-feedback">
                        Courier name is required
                    </mat-error>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <mat-label>Email <span class="text-danger"> * </span> </mat-label>
                        <input matInput type="email" placeholder="abc@gmail.com" name="Email" formControlName="Email"
                            (focusout)="emailValidation()" style="text-transform:lowercase">
                    </mat-form-field>
                    <mat-error *ngIf="submitted && f.Email.errors && IsEmailFlag === true" class="invalid-feedback">
                        <span *ngIf="f.Email.errors.required && IsEmailFlag === true"> Email is required </span>
                    </mat-error>
                    <mat-error *ngIf="submitted === false && f.Email.touched && f.Email.invalid && IsEmailFlag === true"
                        class="invalid-feedback">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="IsEmailFlag === false"> Email must be a valid email address </mat-error>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <mat-label> Contact No <span class="text-danger"> * </span> </mat-label>
                        <input matInput placeholder="Contact No" name="ContactNo" formControlName="ContactNo"
                            (keypress)="mobileNoValidation($event)" maxlength="22"
                            (focusout)="CopyPasteMblNotSpelcharAllow()">
                    </mat-form-field>
                    <mat-error *ngIf="submitted && f.ContactNo.errors" class="invalid-feedback">
                        <span *ngIf="f.ContactNo.errors.required"> Contact number is required </span>
                    </mat-error>
                    <mat-error
                        *ngIf="submitted === false && f.ContactNo.touched && f.ContactNo.invalid && IsInvalidMobile === false"
                        class="invalid-feedback">
                        Contact number is required
                    </mat-error>
                    <mat-error *ngIf="IsInvalidMobile === true">
                        Please Enter valid Contact number
                    </mat-error>
                </div>

                <div class="col">
                    <!-- <mat-form-field>
                        <mat-label> Region <span class="text-danger"> * </span> </mat-label>
                        <mat-select name="Region" formControlName="Region">
                            <mat-option *ngFor="let Region of RegionList" [value]="Region.StateCode">
                                {{Region.StateName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->

                    <!-- autocomplete code start -->
                    <mat-form-field class="example-full-width">
                        <mat-label> Region <span class="text-danger"> * </span> </mat-label>
                        <input type="text" placeholder="Region" matInput name="Region" formControlName="Region"
                            [matAutocomplete]="autoRegion" (focusout)="RegionValidation()">
                        <mat-autocomplete #autoRegion="matAutocomplete" [displayWith]="displayFnRegion">
                            <mat-option *ngFor="let option of filteredOptRegion | async" [value]="option">
                                {{ option.StateName }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <!-- autocomplete code end -->

                    <mat-error *ngIf="submitted && f.Region.errors" class="invalid-feedback">
                        <span *ngIf="f.Region.errors.required"> Please select region </span>
                    </mat-error>
                    <!-- <mat-error *ngIf="submitted === false && f.Region.touched && f.Region.invalid"
                        class="invalid-feedback">
                        Please select region
                    </mat-error> -->
                    <mat-error *ngIf="InvalidRegion" class="invalid-feedback">
                        Please select valid region
                    </mat-error>

                </div>

                <div class="col">
                    <!-- <mat-form-field>
                        <mat-label> District <span class="text-danger"> * </span> </mat-label>
                        <mat-select name="City" formControlName="District">
                            <mat-option *ngFor="let district of DistrictList" [value]="district.DistrictCode">
                                {{district.DistrictName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->

                    <!-- autocomplete code start-->
                    <mat-form-field class="example-full-width">
                        <mat-label> District <span class="text-danger"> * </span> </mat-label>
                        <input type="text" placeholder="District" matInput name="District" formControlName="District"
                            [matAutocomplete]="autoDistrict" (focusout)="DistrictValidation()">
                        <mat-autocomplete #autoDistrict="matAutocomplete" [displayWith]="displayFnDistrict">
                            <mat-option *ngFor="let option of filteredOptDistrict | async" [value]="option">
                                {{ option.DistrictName }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <!-- autocomplete code end-->

                    <mat-error *ngIf="submitted && f.District.errors" class="invalid-feedback">
                        <span *ngIf="f.District.errors.required"> Please select district </span>
                    </mat-error>
                    <!-- <mat-error *ngIf="submitted === false && f.District.touched && f.District.invalid"
                        class="invalid-feedback">
                        Please select district
                    </mat-error> -->
                    <mat-error *ngIf="InvalidDistrict" class="invalid-feedback">
                        Please select valid District
                    </mat-error>
                </div>
            </div>

            <div class="row">
                <!-- start city -->
                <div class="col">

                    <!-- <mat-form-field class="example-full-width">
                        <mat-label> City <span class="text-danger"> * </span> </mat-label>
                        <mat-select name="City" formControlName="City">
                            <mat-option *ngFor="let City of CityList" [value]="City.CityCode">
                                {{City.CityName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->

                    <!-- autocomplete code start-->
                    <mat-form-field class="example-full-width">
                        <mat-label>City <span class="text-danger"> * </span></mat-label>
                        <input type="text" placeholder="City" matInput name="City" formControlName="City"
                            [matAutocomplete]="autoCity" (focusout)="CityValidation()">
                        <mat-autocomplete #autoCity="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let option of filteredOptionsCity | async" [value]="option">
                                {{ option.CityName }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <!-- autocomplete code end-->

                    <mat-error *ngIf="submitted && f.City.errors" class="invalid-feedback">
                        <span *ngIf="f.City.errors.required"> Please select city </span>
                    </mat-error>
                    <!-- <mat-error *ngIf="submitted === false && f.City.touched && f.City.invalid" class="invalid-feedback">
                        Please select city
                    </mat-error> -->
                    <mat-error *ngIf="InvalidCity" class="invalid-feedback">
                        Please select valid City
                    </mat-error>
                </div>
                <!-- Start Rate Per Boxes -->
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <mat-label>Rate Per Boxes<span class="text-danger"> * </span></mat-label>
                        <input matInput placeholder="Rate Per Boxes" type="text" name="RatePerBoxes"
                            formControlName="RatePerBoxes" (keypress)="numberValidation($event)" pattern="\d*"
                            maxlength="6">
                    </mat-form-field>
                    <mat-error *ngIf="submitted && f.RatePerBoxes.errors" class="invalid-feedback">
                        <span *ngIf="f.RatePerBoxes.errors.required"> Rate per box is required </span>
                    </mat-error>
                    <mat-error *ngIf="submitted === false && f.RatePerBoxes.touched && f.RatePerBoxes.invalid"
                        class="invalid-feedback">
                        Rate per box is required
                    </mat-error>
                </div>
                <!-- start Address -->
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <mat-label> Address </mat-label>
                        <textarea matInput placeholder="Address" name="Address" formControlName="Address"></textarea>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col">
                </div>
                <div class="col"></div>
                <div class="col">
                    <button mat-raised-button class="cancel-buttton" type="button" (click)="redirect()">Cancel</button>
                    <button mat-raised-button color="primary" type="submit">{{ pageState }}</button>
                </div>
            </div>
        </form>
    </div>
</div>