table {
    width: -webkit-fill-available;
    width: -moz-available;
}

.mat-column-Select {
    flex: 0px 0px 7% !important;
    width: 5%;
    padding-right: 12px;
}

.mat-column-InvNo {
    flex: 0px 0px 7% !important;
    width: 7%;
    padding-right: 12px;
}

.mat-column-InvCreatedDate {
    flex: 0px 0px 8% !important;
    width: 7%;
    padding-right: 12px;
}

.mat-column-IsColdStorage {
    flex: 0px 0px 8% !important;
    width: 7%;
    padding-right: 12px;
}

.mat-column-StockistNo {
    flex: 0px 0px 8% !important;
    width: 5%;
    padding-right: 12px;
}

.mat-column-StockistName {
    flex: 0px 0px 10% !important;
    width: 13%;
    padding-right: 12px;
}

.mat-column-CityName {
    flex: 0px 0px 8% !important;
    width: 7%;
    padding-right: 12px;
}

.mat-column-InvAmount {
    flex: 0px 0px 8% !important;
    width: 8%;
    padding-right: 12px;
}

.selectionList {
    max-height: 200px;
    overflow-y: auto;
}

.align-items-center {
    padding-top: 5px;
}

i {
    margin-right: 15%;
}

.spin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cancel-buttton {
    margin-right: 5%;
}

.print-button {
    margin-left: 5%;
}

.highlightCancel {
    td {
        color: rgba(215,82,150,255);
    }
}