<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col text-center">
                <h4>{{SRSCnt}}</h4>
                <span> SRS Count </span>
            </div>
            <div class="col text-center">
                <h4>{{CNCnt}}</h4>
                <span>CN Count </span>
            </div>
            <div class="col text-center">
                <h4>{{PendingForCNCnt}}</h4>
                <span>Pending For CN Count</span>
            </div>
            <div class="col text-center">
                <h4>{{PendingDestrCertCnt}}</h4>
                <span>Pending Destruction Cert Count</span>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h2> {{ ListTitle }} </h2>
            </div>
            <div class="col-md-4">
                <!-- Serach -->
                <mat-form-field class="searchField" style="margin-right: 2%;">
                    <span class="GlobalSearch" matPrefix>
                        <mat-icon>search</mat-icon> &nbsp;
                    </span>
                    <input matInput name="searchModel" [(ngModel)]="searchModel" (keyup)="applyFilter()"
                        placeholder="Search">
                </mat-form-field>
            </div>
        </div>
        <!-- <button title="Export to Excel" mat-raised-button (click)="exportAsExcel()">
            <i class="fa fa-2x fa-file-excel green-color"></i> Export
        </button> -->
        <button title="Export to Excel" mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'UploadCertificate', sheet: 'sheet1'})">
          <i class="fa fa-2x fa-file-excel green-color"></i> Export
        </button>
    </div>
    <!-- Destruction Certificate List -->
    <div class="card-body">
        <div class="col-md-12"> <!--#TABLE-->
            <div class="Scroll">
                <table matTableExporter mat-table [dataSource]="DataSource" #Sort="matSort" matSort #exporter="matTableExporter">

                    <ng-container matColumnDef="SrNo">
                        <th mat-header-cell *matHeaderCellDef class="commonHeaderCSS">Sr. No. </th>
                        <td mat-cell *matCellDef="let row; let SrNo = index;">
                            {{ (SrNo + 1) + (paginator.pageIndex * paginator.pageSize ) }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="CrDrNoteNo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="commonHeaderCSS"> Credit Note No.
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.CrDrNoteNo }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="CRDRCreationDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="commonHeaderCSS">Credit Note Date
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.CRDRCreationDate | date: 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="CrDrAmt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="commonHeaderCSS"> Amount </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.CrDrAmt }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="StockistNo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="commonHeaderCSS">Stockist No. </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.StockistNo }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="StockistName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="commonHeaderCSS">Stockist Name
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.StockistName }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="CityName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="commonHeaderCSS"> City </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.CityName }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="SalesOrderNo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="commonHeaderCSS"> Sales Order No.
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.SalesOrderNo }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="SalesOrderDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="commonHeaderCSS"> Sales Order Date
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.SalesOrderDate | date: 'dd/MM/yyyy'}}
                        </td>
                    </ng-container>

                    <!-- Actions -->
                    <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef class="commonHeaderCSS"> Actions </th>
                        <td mat-cell *matCellDef="let row">
                            <a target="_blank" href="{{row.DestrCertFile}}" style="cursor: pointer;"
                                title="View Certificate">
                                <i class="fa fa-eye fa-duotone "></i></a>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="importCreditNote"></tr>
                    <tr mat-row class="example-element-row" *matRowDef="let row; columns: importCreditNote;"
                        [ngClass]="{'highlightPriority': row.OnPriority === 1 }"></tr>

                </table>
            </div>
            <div *ngIf="!DataSource.data.length && !isLoading">
                <h6 class="noRecordData"> No Record Found </h6>
            </div>
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[20,30,40,100]"></mat-paginator>
        </div>
    </div>
</div>
