table {
    width: -webkit-fill-available;
    width: -moz-available;
}

.mat-column-SrNo {
    // flex: 0px 0px 2% !important;
    width: 7%;
    padding-right: 13px;
}

.mat-column-StockistNo {
    // flex: 0px 0px 10% !important;
    width: 10%;
    padding-right: 13px;
}

.mat-column-StockistName {
    // flex: 0px 0px 12% !important;
    width: 15%;
    padding-right: 13px;
}

.mat-column-Emailid {
    // flex: 0px 0px 13% !important;
    width: 12%;
    padding-right: 13px;
}

.mat-column-MobNo {
    // flex: 0px 0px 8% !important;
    width: 10%;
    padding-right: 13px;
}

// .mat-column-StockistPAN {
//   // flex: 0px 0px 5% !important;
//   width: 5%;
// }
// .mat-column-GSTNo {
//   // flex: 0px 0px 8% !important;
//   width: 8%;
// }
.mat-column-CityName {
    // flex: 0px 0px 5% !important;
    width: 8%;
    padding-right: 13px;
}

// .mat-column-PinCode {
//   // flex: 0px 0px 5% !important;
//   width: 5%;
// }
.mat-column-FoodLicExpDate {
    // flex: 0px 0px 7% !important;
    width: 10%;
    padding-right: 13px;
}

.mat-column-DLExpDate {
    // flex: 0px 0px 7% !important;
    width: 10%;
    padding-right: 13px;
}

.mat-column-IsActive {
    // flex: 0px 0px 5% !important;
    width: 8%;
    padding-right: 13px;
}

.mat-column-Actions {
    // flex: 0px 0px 8% !important;
    width: 8%;
}

.Scroll {
    overflow-x: auto;
}

div::-webkit-scrollbar-thumb {
    background-color: #0095E8;
}

.selectionList {
    max-height: 200px;
    overflow-y: auto;
}

.align-items-center {
    padding-top: 5px;
}

i {
    margin-right: 15%;
}

.spin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.highlightCancel {
    td {
        color: red;
    }
}