

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col text-center">
                <h4 style="cursor: pointer;" title="Today's With Old Open Invoices">
                    <h4>{{ TodaysWithOldOpen }}</h4>
                </h4>
                <span>All Invoices</span>
            </div> 
            <div class="col text-center">
                <a style="cursor: pointer;" title="Pending Invoices" (click)="ShowPickList('PendingInvCtn')">
                    <h4>{{ PendingInvCtn }}</h4>
                </a>
                <span>Pending Invoices</span>
            </div>
            <div class="col text-center">
                <a style="cursor: pointer;" title="Picker Concern" (click)="ShowPickList('PackerConcern')">
                    <h4>{{ PackerConcern }}</h4>
                </a>
                <span>Packer Concern</span>
            </div>
            <div class="col text-center">
                <a style="cursor: pointer;" title="Priority" (click)="ShowPickList('OnPriorityCtn')">
                    <h4>{{ OnPriorityCtn }}</h4>
                </a>
                <span> Priority </span>
            </div>
            <div class="col text-center">
                <h4>{{ StkPrint }}</h4>
                <span>Sticker Print</span>
            </div>
            <div class="col text-center">
                <h4>{{ GatpassGenCtn }}</h4>
                <span>Gatpass Gen</span>
            </div>
            <div class="col text-center">
                <a style="cursor: pointer;" title="PendingLR" (click)="ShowPickList('PendingLR')">
                    <h4>{{ PendingLR }}</h4>
                </a>
                <span> Pending LR </span>
            </div>

            <div class="col text-center">
                <h4>{{ CancelInvCtn }}</h4>
                <span>Cancel Invoices</span>
            </div>
            <!-- <div class="col text-center">
                <a style="cursor: pointer;" title="Stock Transfer" (click)="ShowPickList('IsStockTransferCtn')">
                    <h4>{{ IsStockTransferCtn }}</h4>
                </a>
                <span>Stock Transfer</span>
            </div> -->
            <!-- <div class="col text-center">
                <h4>{{ LocalMode }}</h4>
                <span> Local Mode</span>
            </div>
            <div class="col text-center">
                <h4>{{ OtherCity }}</h4>
                <span> Other City</span>
            </div>
            <div class="col text-center">
                <h4>{{ ByHand }}</h4>
                <span> By Hand</span>
            </div> -->
        </div>
    </div>
</div>



<!-- Invoice  List -->
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h2> {{Title}} </h2>
            </div>
            <!-- Search -->
            <div class="col-md-4">
                <mat-form-field class="searchField" style="margin-right: 2%;">
                    <span class="GlobalSearch" matPrefix>
                        <mat-icon>search</mat-icon> &nbsp;
                    </span>
                    <input matInput name="searchModel" [(ngModel)]="searchModel" (keyup)="applyFilter()"
                        placeholder="Search">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <div class="Scroll">
                <!--  Table  -->
                <table mat-table [dataSource]="DataSource" #Sort="matSort" matSort>
                    <!-- SrNo -->
                    <ng-container matColumnDef="SrNo">
                        <th mat-header-cell *matHeaderCellDef class="commonHeaderCSS"> Sr. No. </th>
                        <td mat-cell *matCellDef="let row;let SrNo = index;">
                            {{ ( SrNo + 1 ) + ( paginator.pageIndex * paginator.pageSize ) }}
                        </td>
                    </ng-container>
                    <!-- Invoice No -->
                    <ng-container matColumnDef="InvNo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="commonHeaderCSS"> Invoice No. </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.InvNo }}
                        </td>
                    </ng-container>
                    <!-- Invoice Create Date-->
                    <ng-container matColumnDef="InvCreatedDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="commonHeaderCSS"> Invoice Create
                            Date
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.InvCreatedDate | date: 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>
                    <!-- stockist No -->
                    <ng-container matColumnDef="StockistNo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="commonHeaderCSS"> Sold To Code
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.StockistNo }}
                        </td>
                    </ng-container>
                    <!-- stockist Name -->
                    <ng-container matColumnDef="StockistName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="commonHeaderCSS"> Sold To Name
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.StockistName }}
                        </td>
                    </ng-container>
                    <!-- City -->
                    <ng-container matColumnDef="CityName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="commonHeaderCSS"> Sold To City
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <label *ngIf="row.CityName === null"> - </label>
                            <label *ngIf="row.CityName !== null"> {{ row.CityName }} </label>
                        </td>
                    </ng-container>
                    <!-- Inv Amount -->
                    <ng-container matColumnDef="InvAmount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="commonHeaderCSS"> Invoice Amount
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <label *ngIf="row.InvAmount === 0"> - </label>
                            <label *ngIf="row.InvAmount !== 0"> {{ row.InvAmount }} </label>
                        </td>
                    </ng-container>
                    <!-- Inv Status -->
                    <ng-container matColumnDef="StatusText">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="commonHeaderCSS"> Status </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.StatusText }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="IsStockTransfer">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="commonHeaderCSS">Is Stock Transfer
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <span *ngIf="row.IsStockTransfer == 1">Y</span>
                            <span *ngIf="row.IsStockTransfer == 0">N</span>
                        </td>
                    </ng-container>

                    <!-- Actions -->
                    <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef class="commonHeaderCSS"> Actions </th>
                        <td mat-cell *matCellDef="let row">
                            <!--To hide cancel button after cancel opertation done  -->
                            <span *ngIf="row.StatusText !== 'Cancel'">
                                <a style="cursor: pointer;" (click)="ChangeStatus(row)" title="Cancel"><i
                                        class="far fa-trash-alt"> </i></a>
                            </span>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="DisplayInvoiceData"></tr>
                    <!-- ngClass used for to change icon or row(red) color after cancel button clicked -->
                    <tr mat-row class="example-element-row" *matRowDef="let row; columns: DisplayInvoiceData;"
                        [ngClass]="{'highlightPriority': row.OnPriority === 1 ,'highlightCancel': row.StatusText === 'Cancel'}">
                    </tr>
                    <!-- <tr mat-row class="example-element-row1" *matRowDef="let row; columns: DisplayInvoiceData;" [ngClass]="{'highlightCancel': row.StatusText === 'Cancel'}"></tr> -->

                </table>
            </div>

            <mat-progress-spinner *ngIf="isLoading" class="spin" color="primary" mode="indeterminate" diameter="40"
                strokeWidth="5"></mat-progress-spinner>

            <div *ngIf="!DataSource.data.length && !isLoading">
                <h6 class="noRecordData"> No Record Found </h6>
            </div>

            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[20,30,40,50]"></mat-paginator>
        </div>
    </div>
</div>