<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ABOUT SECTION</title>
</head>

<body>
  <!-- <div class="about-section">
    <h1>About Us</h1>
  </div> -->
  <div class="card">
    <!-- <div class="card-header">
    </div> -->
    <div class="card-body">
      <h2>Tirupati Logistics</h2>
      <h4><b> Company type: </b> Private Limited</h4>
      <p class="fs-5">Founded in 2002, Aadyam is young, like-minded and creative technology company with people
        possessing years of experience and a true passion for technology.
        Our team’s main goal is to help your business achieve growth.
        That’s why we continually focus on developing and enhancing the skills we need to help your business grow.</p>
      <p class="fs-5"> AIPL is leading technology solution provider company based in Pune, India specializes in web,
        mobile and technology services. We are proud to mention that since past 6 years we have been an innovation
        partner for many PSUs in India who were doing the business traditionally and successfully carried out their
        digital transformation.
        We are perfectly positioned to help businesses make the vital transition to the digital world.</p>
      <p class="fs-5"> We have helped many private organizations in many industries,
        broaden their online presence by providing them excellent web and mobile development services using cutting edge
        technologies. </p>

      <p class="fs-5">Our vision – To build a team of professionals to make them further productive and successful </p>

      <p class="fs-5"> Our Mission – Our mission is to deliver the best possible reliable customized software solutions
        to help customers improve IT efficiency and business profitability.</p>
    </div>
  </div>

  <section>
    <h1 class="title">our team</h1>
    <div class="team-row">
      <div class="member">
        <img src="/assets/media/avatars/300-1.jpg" alt="Not Found">
        <h2>Amit Mane</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>Contact : 7777777777 </p>
        <p>Email : Amit@gmail.com</p>
      </div>
      <div class="member">
        <img src="/assets/media/avatars/300-2.jpg" alt="Not Found">
        <h2>Pranita</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>Contact : 8888888888 </p>
        <p>Email : Pranita@gmail.com</p>
      </div>
      <div class="member">
        <img src="/assets/media/avatars/300-3.jpg" alt="Not Found">
        <h2>Pratap Shinde</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>Contact : 9999999999 </p>
        <p>Email : pratap@gmail.com</p>
      </div>
    </div>
  </section>
  <div class="footer menu-hover-primary fw-bold order-1">
    <a href="https://www.aadyaminfotech.com/AboutUs.html" class="ps-0 pe-2  menu-hover-primary cursor-pointer footer fw-bold order-1">About</a>
    <a (click)="RedirectPrivacyPage()" class="ps-0 pe-2  menu-hover-primary cursor-pointer footer fw-bold order-1">
      Policy Privacy </a>
  </div>
</body>

</html>
